doctype html
html
  head
    title Admin Page
  body
    p  Welcome !{params.par1}
    ul
      li
        a(href='/addDoctor') Add a new Doctor
      |     
      li
        a(href='/nurse_add') Add a new Nurse
      |       
      li
        a(href='/appointment_check') Check for Appointment Requests
      |   
      |   
      li
        a(href='/get_bookings') Booked Appointments

